@import url('./../Colors.css');

.Filter-box{
    flex-flow: column;
    display: -webkit-flex;
    background-color: white;
    margin-bottom: 1px; 
    box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    .Filter-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding-bottom: 15px;
        .Filter-title{
            text-transform: capitalize;
            font-weight: 600;
            font-size: 0.9rem;
        }
    }
    .Filter-center{
        display: -webkit-flex;
        flex-flow: column;
        .Filter-item{
            display: -webkit-flex;
            align-items: center;
            padding: 5px 0px;
            cursor: pointer;
            .Filter-name{
                padding-left: 10px;
                font-size: 0.85rem;
            }
        }
    }
}