@import url('./../Colors.css');

.Header-box{
    display: -webkit-flex;
    flex-flow: row;
    position: fixed;
    width: 100%;
    background-color: var(--baby-power);
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    .Header-center{
        width: 500px;
        display: -webkit-flex;
        flex-flow: row;
        align-items: center;
        padding: 20px;
        .Header-option-wrap{
            display: -webkit-flex;
            align-items: center;
            padding: 5px;
        }
        .Header-option{
            cursor: pointer;
            display: -webkit-flex;
            padding: 5px;
            justify-content: center;
            font-size: 0.9rem;
            color: var(--black-coral);
            font-weight:500
        }
        .isSelected{
            color: var(--malachite);
        }
    }
    .Header-right{
        display: -webkit-flex;
        flex-flow: row;
        align-items: center;
    }
    .Brand-name{
        width: 130px;
    }
}