@import url('./../Colors.css');

.Specialcourse-box{
    flex-flow: row;
    display: -webkit-flex;
    background-color: white;
    margin-bottom: 5px; 
    border: solid 1px var(--gray);
    padding: 25px 15px;
    width: 668px;
    .Specialcourse-left{
        display: -webkit-flex;
        padding-right: 10px;
        .Logo-course{
            width: 200px;
            height: 100px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .Specialcourse-center{
        display: -webkit-flex;
        flex-flow: column;
        width: 400px;
        .Specialcourse-name{
            font-weight: 500;
            color: black;
            padding-bottom: 10px;
        }
        .Specialcourse-featured{
            font-weight: bold;
            padding: 10px;
            color: var(--dark-green);
            border: solid 2px var(--dark-green);
            width: fit-content;
            text-transform: uppercase;
            font-size: 0.8rem;
            cursor: pointer;
        }
        .Specialcourse-locations{
            padding: 10px 0px 20px 0px;
            color: var(--special-gray);
        }
        .Specialcourse-center-info{
            display: -webkit-flex;
            .Item-info{
                display: -webkit-flex;
                align-items: center;
                padding: 10px 15px 10px 0px;
                .Item-hours{
                    padding: 0px 5px;
                }
            }
        }
    }
    .Specialcourse-right{
        display: -webkit-flex;
        flex-flow: column;
        align-items: flex-end;
        justify-content: space-between;
        width: 130px;
        .Specialcourse-price{
            font-weight: bold;
            font-size: 1.3rem
        }
        .Share-box{
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1.45px solid var(--gray);
            border-radius: 5px;
            cursor: pointer;
        }
    }
}