@import url('./../Colors.css');

.Content-box{
    width: 700px;
    margin-left: 10px;
    flex-flow: column;
    display: -webkit-flex;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.1);
    .Content-top{
        display: flex;
        align-items: center;
        margin-bottom: 1px; 
        border-radius: 3px;
        justify-content: space-between;
        padding-bottom: 20px;
        .Content-pages{
            font-weight: 500;
            display: -webkit-flex;
            align-items: center;
            .Of{
                font-weight: normal;
                padding: 0px 8px
            }
            .Content-pager{
                display: -webkit-flex;
                padding: 5px;
                align-items: center;
                color: var(--gray);
            }
        }
        .Content-sorted{
            display: -webkit-flex;
            align-items: center;
            .Button-a{
                margin-right: 0px
            }
            .Sorted-label, .Title-button{
                padding-right:5px; 
            }
            
        }
    }
}