@import url('./../Colors.css');

.Course-box{
    flex-flow: row;
    display: -webkit-flex;
    background-color: white;
    margin-bottom: 5px; 
    border: solid 1px var(--gray);
    padding: 25px 15px;
    width: 668px;
    justify-content: space-between;
    .Course-left{
        display: -webkit-flex;
        flex-flow: column;
        width: 500px;
        .Course-name{
            font-weight: 500;
            color: black;
            padding-bottom: 10px;
        }
        .Course-locations{
            padding: 0px 0px 20px 0px;
            color: var(--special-gray);
        }
        .Course-left-info{
            display: -webkit-flex;
            .Item-info{
                display: -webkit-flex;
                align-items: center;
                padding: 10px 15px 10px 0px;
                .Item-hours{
                    padding: 0px 5px;
                }
            }
        }
    }
    .Course-right{
        display: -webkit-flex;
        flex-flow: column;
        align-items: flex-end;
        justify-content: space-between;
        width: 130px;
        .Course-price{
            font-weight: bold;
            font-size: 1.3rem
        }
        .Share-box{
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1.45px solid var(--gray);
            border-radius: 5px;
            cursor: pointer;
        }
    }
}