@import url('./../Colors.css');

.Seeker-box{
    display: -webkit-flex;
    flex-flow: column;
    .Seeker-input-wrap{
        background-color: white;
        display: -webkit-flex;
        padding: 15px;
        width: 650px;
        border-radius: 3px;
        .Seeker-icon{
            height: 17px;
        }
        .Seeker-input{
            border: none;
            width: 100%;
            padding-left: 15px;
            font-size: 0.9rem;
            font-weight: 100;
            color: var(--black-coral);
        }
    }
    
}