@import url('./../Colors.css');

.Leftfilter-box{
    width: 300px;
    flex-flow: column;
    display: -webkit-flex;
    .Leftfilter-top{
        background-color: white;
        padding: 20px;
        display: flex;
        align-items: center;
        box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.1);
        margin-bottom: 1px; 
        border-radius: 3px;
        .Leftfilter-title{
            text-transform: uppercase;
            padding-left: 5px;
            font-weight: 600;
            font-size: 0.7rem;
        }
    }
}