@import url('./../Colors.css');

.Browsecourser-box{
    width: 100%;
    flex-flow: column;
    display: -webkit-flex;
    padding-top: 75px;
    .Browsecourser-top{
        display: -webkit-flex;
        flex-flow: column;
        padding: 25px 10px 0px 0px;
        background-color: var(--blue);
        color: white;
        font-weight: 500;
        width: 100%;
        align-items: center;
        .Browsecourser-rowone{
            display: -webkit-flex;
            flex-flow: row; 
            width: 100%;
            justify-content: center;
            font-size: 1.5rem;
            align-items: center;
            padding-bottom:30px;
            font-weight: 100;
            .Title-button{
                padding-right: 5px
            }
        }
    }
    .Browsecourser-center{
        display: -webkit-flex;
        justify-content: center;
        padding: 20px;
        background-color:whitesmoke
    }
}