/**
	Autor: Juan Camilo Mendoza
	Maintainer: Juan Camilo Mendoza
	Last modification: Juan Camilo Mendoza
*/

/** 
    Project colors
*/
:root{
    --black-coral: #5b6769;
    --gray:#bec6c6;
    --baby-power:#FDFFFC;
    --malachite:#15c27e;
    --blue:#1a5696;
    --blue-link:#42a4f5;
    --dark-green: #62ac71;
    --special-gray:#8ea8a8;
}