@import url('./Reset.css');
@import url('./Colors.css');

body{
    font-family: 'Montserrat', 'Comfortaa';
    color: var(--black-coral);
    overflow-x: hidden;

}

.Big-content{
    padding-top: 75px;
    width: 1024px;
    display: -webkit-flex;
    flex-flow: column;
}

.Button-a{
    padding: 9px 9px;
    color: var(--black-coral);
    border: solid 1.2px var(--gray);
    border-radius: 3px;
    margin: 0px 5px;
    font-size: 0.9rem;
    cursor: pointer;
    display: -webkit-flex;
    align-items: center;
}

.Button-b{
    padding: 10px 10px;
    color:white;
    font-weight: bold;
    background-color: var(--malachite);
    border-radius: 3px;
    margin: 0px 5px;
    font-size: 0.9rem;
    cursor: pointer;
}

.Button-c{
    display: -webkit-flex;
    align-items: center;
    padding: 10px 10px;
    color:white;
    border: solid 1px white;
    border-radius: 3px;
    margin: 0px 5px;
    cursor: pointer;
}

.Ball-on{
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--blue-link);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    .Point-on{
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: var(--blue-link);
    }
}

.Ball-off{
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--gray);
    width: 17px;
    height: 17px;
    border-radius: 50%;
}
.Arrow-icon{
    width: 7px;
    height: 7px;
    cursor: pointer;
}

.Filter-icon{
    height: 10px;
}

.Seeker-options{
    display: -webkit-flex;
    flex-flow: row;
    font-size: 0.9rem;
    margin-right: 5px;
    padding-top: 35px;
    align-items: center;
    justify-content: center;    
    .Option{
        padding: 0px 5px 15px 5px;
        margin: 0px 10px;
        font-weight: 300;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        color: rgba($color: #ffffff, $alpha: 0.75);
        border-bottom: solid 2.5px transparent;
    }
    .isSelected{
        border-bottom: solid 2.5px var(--malachite);
        color:white;
    }
}
.Share-icon{
    width: 20px;
    height: 20px;
}
.View-more{
    font-size: 0.8rem;
    color: var(--blue-link);
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    padding-top: 10px;
}

.View-more:hover{
    border-bottom: solid 1px var(--blue-link);
}

.Pager{
    display: flex;
    width: 30px;
    height: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0px 5px;
    color: var(--gray);
}

.Pager:hover{
    background-color:var(--malachite);
    border-radius: 50%;
    color: white; 
}

.Pager-disable{
   visibility: hidden;
}